<p style="text-align: left;"><span style="text-decoration: underline;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Description:</span></span></p>
<p style="text-align: left;">&nbsp;<span style="font-family: arial,helvetica,sans-serif; font-size: small;">This web app is designed to test if two words (or phrases) are anagrams.</span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">"An anagram is a word, phrase, or name formed by rearranging the letters of another, such as <em>spar</em>, formed from <em>rasp</em>." That's the definition by <em>oxforddictionaries.com</em>.</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="text-decoration: underline;"><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">How to use it:</span></span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">You should enter two words or phrases that you want test and click the button "Test Words".</span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">You'll be redirected to a page with both words and the answer if they are anagrams. To edit these words or try a new test click in the respective buttons below.</span></p>


